html,body{height:100%;width: 100%}

.banner {
    height: 520px;
    background: url(http://img.mockuai.com/tms/2017/3/10/upload_44f65ce54a228ed1b0919c16298c5dff.jpg) no-repeat center;

}
.banner .banner-wrap{
    width: 1280px;
    margin:0 auto;
    text-align: center;
    position: relative;
}
.banner .banner-wrap .button{
    text-align: center;
    padding-top: 342px;
    color: #fff;
    display: inline-block;
    letter-spacing: 1px;
}
.banner .banner-wrap .button a{
    color: #fff;
    padding: 14px 44px;
    background: #ff9211;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    cursor: pointer;
    font-size:20px;
    text-decoration: none;
}
.banner .banner-wrap .button span{
    letter-spacing: -3px;
}
.content-wrap{
    width: 1280px;
    margin: 0 auto;
}
.part1{
    background:url("http://img01.taojae.com/party/c4c49fab594c341c6e05c5c69a88e4b5.jpg") no-repeat center;
    width:1280px;
    height:773px;
    position: relative;
    margin: 0 auto;
}
.part1-wrap{
    background: url("http://img01.taojae.com/party/f5c426157b6e790985bf3cb7fbda9bf5.jpg") no-repeat center;
    margin-top:80px;
    /*border-top:1px solid #dbdbdb;*/
    border-bottom: 1px solid #dbdbdb;
}
.part-main{
    background:url("http://img.mockuai.com/tms/2017/2/17/upload_519450933fa02a635271aa36a0796df0.png ") ;
    background-position: 40% 0px;
    background-size:cover ;
}
.part_title-font{
    width: 480px;
    height: 25px;
    margin: 0 auto;
    font-size: 21px;
}
.content{
    margin-top:20px;
    /*margin:0 auto;*/
    /*text-align:center;*/
    /*background:blue;*/
    /*width:1920px;*/
}
.part_title{
    width: 400px;
    height: 40px;
    margin: 0 auto;
    background: #44b549;
    text-align: center;
    border-radius: 25px;
    font-size: 25px;
    color: #fff;
    line-height: 40px;
    position: relative;
    top: -25px;
}
.part1_text{
    width: 630px;
    height: 150px;
    margin:0 auto;
    margin-top: 468px;
    line-height: 40px;
    font-size: 20px;
}
.part2{
    width:100%;
    height:auto;
    /* border-top:1px solid #dbdbdb; */
    position: relative;
    max-width: 1280px;
    margin:0 auto;
    /*background:red;*/
}

.menu_wrap{
    width: 1280px;
    height: 4px;
    position: absolute;
    margin: 0 auto;
}
.menu_wrap_fixed{
    position: fixed;
    margin: auto;
    top: 100px;
    left: 0;
    right: 0;
}
.menu_wrap_abst{
    position: absolute;
    margin: 0 auto;
    bottom:500px;
}
.part2_menu{
    width:300px;
    position: absolute;
    top:60px;
    left:250px;
    font-size:18px;
    float:left;
}

.part2 ul li{
    list-style: none;
    text-align:right;
    padding-top: 20px;
    cursor:pointer;
}
.part2 ul li:hover{
    color:#44b549;
}
.part2 ul .bcolor{
    color:#44b549;

}
.part2 ul .ncolor{
    color:#333;
}
.part2 ul li span{
    width:18px;
    text-align:center;
    display:inline-block;
    transition: width 0.1s,height 0.1s;
    -webkit-transition: width 0.1s,height 0.1s;
    -moz-transition: width 0.1s,height 0.1s;
    -o-transition: width 0.1s,height 0.1s;
    -ms-transition: width 0.1s,height 0.1s;
}
.part2 ul li .not_select{
    width:12px;
    height:12px;
    border:1px solid #44b549;
    background:#44b549;
    display:inline-block;
    border-radius: 6px
}
.part2 ul li .be_select{
    width:16px;
    height:16px;
    border:1px solid #44b549;
    background:#fff;
    display:inline-block;
    border-radius: 8px
}
.menu-blank-wrap{
    display: inline-block;
    width: 320px;
    height: 100%;
}
.menu_line{
    width:1px;
    height: 325px;
    background:#44b549;
    display:inline-block;
}
.menu_list{
    display:inline-block;
    position: relative;
    left: -275px;
    width: 279px;
}
.advantage_wrap{
    width:960px;
    min-height:200px;
    margin:0 auto;
    /*float:right;*/
    margin-top:30px;
    text-align:center;
}
.advantage_items{
    /*border-bottom:1px solid #dbdbdb;*/
    /*padding: 40px 20px;*/
}
.advantage_items h2{
    font-size: 30px;
}
.advantage_items h3{
    font-size:20px;
}
.advantage_items p{
    text-align:left;
    line-height:30px;
    font-size: 16px;
    color: #666666;
}
.advantage_items img{
    margin: 0 auto;
    padding-top: 30px;
}
.part3{
    height: 490px;
    border-top:1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
}
.part4{
    border-bottom: 1px solid #dbdbdb;
    /*margin-top:80px;*/
    position: relative;
}
.part4 ul{
    width:1100px;
    height:200px;
    margin:0 auto;
    margin-top:70px;
}
.part4 ul li{
    float:left;
    list-style: none;
    width:200px;
}
.part4 ul li p{
    width:104px;
    text-align: center;
    font-size:20px;
    color:#999;
    padding-top:10px;
}
@media screen and (max-width: 1280px) {
    .banner {
        width:1280px;
        height: 350px;
        background-size:100%;

    }

    .banner .banner-wrap .button{
        padding-top: 242px;
    }
    .part1-wrap,.part3,.part4{
        width: 1280px;
    }

    .part3{
        height: 516px;
        background-size:100%;
        width:1280px;
        /*margin-top:80px;*/
        position: relative;
    }
}

#advantage_items_1{
    /*position: relative;*/
}
.item1-font{
    margin-top: 145px;
    float: right;
    width: 400px;
    /*font-size: 16px;*/
}
.font-green{
    font-size: 18px;
    color: #44b549;
    text-align: left;
}
#advantage_items_1 img{
    width: 500px;
    float: left;
}
.advantage_items{
    clear: both;
}
.item2-font{
    width: 400px;
    float: left;
    margin-top: 200px;
    /*font-size: 16px;*/
}
.item3-font{
    width: 400px;
    float: right;
    margin-top: 180px;
}
.item4-font{
    float: left;
    width: 400px;
    margin-top: 180px;
}
.item5-font{
    float: right;
    width: 400px;
    margin-top: 180px;
}
.item6-font{
    float:left;
    width: 400px;
    margin-top: 180px;
}
.item7-font{
    float: right;
    width: 400px;
    margin-top: 180px;
}
.advantage-font{
    width: 590px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    color: #666666;
}
.four-icon{
    width: 900px;
    margin: 0 auto;
}
.four-icon img{
    width: 900px;
    margin-top: 50px;
}
.consultation-font{
    width: 600px;
    font-size: 16px;
    margin: 35px auto;
    text-align: center;
    color: #666666;
}
.consultation-img{
    width: 950px;
    margin: -30px auto 30px;
}
.consultation-img img{
    width: 950px;
}
.play-font{
    width: 700px;
    margin: 0 auto;
    font-size: 16px;
    color: #666666;
    text-align: center;
}
.play-main{
    width: 900px;
    height: 290px;
    margin: 60px auto;
}
.play-main-one{
    width: 450px;
    height: 120px;
    float: left;
}
.play-main img{
    float: left;
}
.play-main-two{
    width: 450px;
    height: 120px;
    float: right;
}
.play-main-three{
    width: 450px;
    height: 120px;
    float: left;
}
.play-main-four{
    width: 450px;
    height: 120px;
    float: right;
}
.p-bold{
    font-size: 17px;
    font-weight: bold;
    margin-top: 13px;
}
.scene-main-img{
    width: 1000px;
    height: 310px;
    margin: 30px auto;
}
.scene-main-img img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
}
.main-left{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}
.main-left img:nth-child(2){
    display: none;
}
.main-p{
    position: relative;
    top: 190px;
    /* left: 0px; */
    text-align: center;
}
.last-main{
    width: 1000px;
    height: 420px;
    margin: 50px auto;
}
.main-left-p{
    color: #666666;
    font-size: 15px;
    font-weight: bold;
}
.last-main-div{
    width: 240px;
    height: 310px;
    float: left;
    margin-left: 75px;
    border: 1px solid #dbdbdb;
    padding: 10px;
}
.last-main-div img{
    width: 115px ;
    height: 115px;
    margin-left: 53px;
    margin-top: 20px;
}
.last-main-p1{
    text-align: center;
    font-size: 16px;
    color: #666666;
    font-weight: bold;
    margin-top: 20px;
}
.last-main-p2{
    width: 200px;
    margin-left: 10px;
    margin-top: 20px;
}
.content .content-button{
    text-align: center;
    position: relative;
    top: -80px;
}
.content .content-button a {
    background: #44b549;
    color: #fff;
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1px;
}